body {
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', "ＭＳ Ｐゴシック", sans-serif;
  width: 80%;
  margin: 0 auto;
}

.user-box{
  margin-bottom: 10px;
}

.user{
  padding: 10px 10px;
}
/* チャットレイアウト */
.chat-box {
    width: 50%;
    height: auto;
    overflow: hidden; /*floatの解除*/
    margin-bottom: 20px;
    border: 1px solid blue;
    border-radius: 10px;
}

.chat-from, .chat-to {
    width: 49%;
    height: auto;

}

.chat-from{
    float: left;
}

.chat-to{
    float: right;
    text-align : right;
}
.hukidashi {
    display: inline-block; /*コメントの文字数に合わせて可変*/
    padding: 15px 15px;
    /* margin-left: 120px; */
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 10px;
}

.option{
  padding:10px 10px;
}
