<!DOCTYPE html>
<html>
  <head>
    <title>{{ from_id }} から {{ to_id }}へのチャット</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}"/>
  </head>
  <body>
    <br><br><br>
    {% for container in containers %}
      <div class="chat-box">
        <div class="chat-area">
          <div class="hukidashi">
            {{ container }}
          </div>
        </div>
      </div>
    {% end %}

    <div id="container">
      <div id="box">
        <form method="post" action="/{{ to_id }}">
          <textarea name="body" cols="40" rows="4"></textarea>
          <input type="submit">
        </form>
      </div>
    </div>
  </body>
</html>
