
<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}"/>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="post">
      <!-- {% module xsrf_form_html() %} -->
      <p>username : <input type="text" name="username"/> 新規ユーザーの場合ユーザー作成ページに飛びます</p>
      <!-- <p>password : <input type="password" name="password"/></p> -->
      <input type="submit" value="Login!"/>
    </form>

    <div class="option-box">
      <div class="option">
          <button type=button onclick="location.href='/create_user/'">
            新規ユーザー作成
          </button>
      </div>
    </div>
  </body>
</html>
