<!DOCTYPE HTML>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>select player</title>
  <link rel="stylesheet" href="{{ static_url(" style.css ") }}"/>
</head>

<body>
  <h4>Hello, {{ username }}</h4>
  <h1>select player</h1>

  <div class="user-box">
    {% for partner_name in partners %}
    <div class="user">
      <form action="/select" method="post">
        <button type=submit name=partner_id value={{ partner_name.id }}>{{ partner_name.name }}</button>
      </form>
    </div>
    {% end %}
  </div>


  <div class="option-box">
    <div class="option">
      <button type=button onclick="location.href='/login'">
            ログインページへ
          </button>
    </div>
    <div class="option">
      <button type=button onclick="location.href='/logout'">
            ログアウト
          </button>
    </div>
  </div>
</body>

</html>
