<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>select player</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}"/>
  </head>
  <body>
    <h4>Hello, {{ username }}</h4>
    <h1>select player</h1>
    <form action="/select" method="post">
      <!-- {% module xsrf_form_html() %} -->
      <p>playername : <input type="text" name="playername"/></p>
      <!-- <p>password : <input type="password" name="password"/></p> -->
      <input type="submit" value="Begin"/>
    </form>
  </body>
</html>
